.container {
    width: min(100rem, 100%);
    margin-inline: auto;
    padding-inline: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 280%;
}

.container2 {
    width: min(42.5rem, 100%);
    margin-inline: auto;
    padding-inline: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1px;
    font-size: 180%;
}

.countdown{
    width: min(42.5rem, 100%);
    margin-inline: auto;
    padding-inline: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 800%;

}


.layer { 
    float: right;

} 
.vector { 
    margin-top: 40px;
    margin-left: 40px;
    
} 
.timer_vector{ 
    margin-top: 40px;
    margin-left: 40px;
    
} 

.timer_layer { 
    float: right;

} 

.red { 
    display: flex;
    margin: auto;
    display: block;
    justify-content: center;
    align-items: center;
    object-position: center center;


} 

.blue {   
    display: flex;
    margin: auto;
    display: block;
    justify-content: center;
    align-items: center;
    object-position: center center;

} 

.green { 
    display: flex;
    margin: auto;
    display: block;
    justify-content: center;
    align-items: center;
    object-position: center center;

} 



.yellow { 
    display: flex;
    margin: auto;
    display: block;
    justify-content: center;
    align-items: center;
    object-position: center center;

} 


.orange { 
    display: flex;
    margin: auto;
    display: block;
    justify-content: center;
    align-items: center;
    object-position: center center;

} 


.pink { 
    display: flex;
    margin: auto;
    display: block;
    justify-content: center;
    align-items: center;
    object-position: center center;

} 

.purple { 
    display: flex;
    margin: auto;
    display: block;
    justify-content: center;
    align-items: center;
    object-position: center center;


} 

.white { 
    
    display: flex;
    margin: auto;
    display: block;
    justify-content: center;
    align-items: center;
    object-position: center center;
} 


